body {
  font-family: '微軟正黑體';
}

.bg-green {
  background-color: #276f6f;
  box-shadow: 0px 3px 8px 0px #000;
  z-index: 5;
}

.bg-green .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.bg-green .navbar-brand,
.bg-green .navbar-text {
  color: rgb(255, 255, 255);
}

.bg-green .nav-item.active .nav-link,
.bg-green .nav-item:hover .nav-link {
  color: #f7fe22;
}

.bg-green .dropdown-menu {
  background-color: #2c3232;
}

.bg-green .dropdown-item {
  color: #ffffff;
}

.bg-green .dropdown-item:hover {
  background-color: #3c70ef;
}

.btn-tools {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}

.btn-tools:hover,
.btn-tools:focus,
.btn-tools:active,
.btn-tools.active,
.open .dropdown-toggle.btn-tools {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}

.btn-tools:active,
.btn-tools.active,
.open .dropdown-toggle.btn-tools {
  background-image: none;
}

.btn-tools.disabled,
.btn-tools[disabled],
fieldset[disabled] .btn-tools,
.btn-tools.disabled:hover,
.btn-tools[disabled]:hover,
fieldset[disabled] .btn-tools:hover,
.btn-tools.disabled:focus,
.btn-tools[disabled]:focus,
fieldset[disabled] .btn-tools:focus,
.btn-tools.disabled:active,
.btn-tools[disabled]:active,
fieldset[disabled] .btn-tools:active,
.btn-tools.disabled.active,
.btn-tools[disabled].active,
fieldset[disabled] .btn-tools.active {
  background-color: transparent;
  border-color: transparent;
}

.btn-tools .badge {
  color: transparent;
  background-color: #ffffff;
}

.btn-tools div {
  font-size: 12px;
  margin-top: 4px;
}

.btn-tools span {
  font-size: 14px;
}

.btn-green {
  color: #ffffff;
  background-color: #1a99aa;
  border-color: #1a99aa;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  color: #ffffff;
  background-color: #12707d;
  border-color: #1a99aa;
}

.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  background-image: none;
}

.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
  background-color: #1a99aa;
  border-color: #1a99aa;
}

.btn-green .badge {
  color: #1a99aa;
  background-color: #ffffff;
}

.btn-green2 {
  color: #ffffff;
  background-color: #389c90;
  border-color: #389c90;
}

.btn-green2:hover,
.btn-green2:focus,
.btn-green2:active,
.btn-green2.active,
.open .dropdown-toggle.btn-green2 {
  color: #ffffff;
  background-color: #24665e;
  border-color: #389c90;
}

.btn-green2:active,
.btn-green2.active,
.open .dropdown-toggle.btn-green2 {
  background-image: none;
}

.btn-green2.disabled,
.btn-green2[disabled],
fieldset[disabled] .btn-green2,
.btn-green2.disabled:hover,
.btn-green2[disabled]:hover,
fieldset[disabled] .btn-green2:hover,
.btn-green2.disabled:focus,
.btn-green2[disabled]:focus,
fieldset[disabled] .btn-green2:focus,
.btn-green2.disabled:active,
.btn-green2[disabled]:active,
fieldset[disabled] .btn-green2:active,
.btn-green2.disabled.active,
.btn-green2[disabled].active,
fieldset[disabled] .btn-green2.active {
  background-color: #389c90;
  border-color: #389c90;
}

.btn-green2 .badge {
  color: #389c90;
  background-color: #ffffff;
}

.btn-yellow {
  color: #ffffff;
  background-color: #c7982d;
  border-color: #c7982d;
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.open .dropdown-toggle.btn-yellow {
  color: #ffffff;
  background-color: #8c6b1f;
  border-color: #c7982d;
}

.btn-yellow:active,
.btn-yellow.active,
.open .dropdown-toggle.btn-yellow {
  background-image: none;
}

.btn-yellow.disabled,
.btn-yellow[disabled],
fieldset[disabled] .btn-yellow,
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled:active,
.btn-yellow[disabled]:active,
fieldset[disabled] .btn-yellow:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow.active {
  background-color: #c7982d;
  border-color: #c7982d;
}

.btn-yellow .badge {
  color: #c7982d;
  background-color: #ffffff;
}

.btn-red {
  color: #ffffff;
  background-color: #d96459;
  border-color: #d96459;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  color: #ffffff;
  background-color: #99433b;
  border-color: #d96459;
}

.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  background-image: none;
}

.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
  background-color: #d96459;
  border-color: #d96459;
}

.btn-red .badge {
  color: #d96459;
  background-color: #ffffff;
}

.btn-blue {
  color: #ffffff;
  background-color: #4aa5cc;
  border-color: #4aa5cc;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  color: #ffffff;
  background-color: #337896;
  border-color: #4aa5cc;
}

.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-image: none;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #4aa5cc;
  border-color: #4aa5cc;
}

.btn-blue .badge {
  color: #4aa5cc;
  background-color: #ffffff;
}